.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .modal .close-modal-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .modal .close-modal-btn:hover {
    background-color: #e64545;
  }
  